<h1>New Settlement</h1>
<%= form_for @conn, Routes.settlement_path(@conn, :new), [as: :settlement], fn f -> %>
  <%= submit "Create Settlement" %><br />
  <span>Game Version</span><br />
  <%= radio_button f, :version, "1.0", checked: true %><span>1.0</span>
  <%= radio_button f, :version, "1.5" %><span>1.5</span>
  <br />
  <br />
  <span>Campaign</span><br />
  <%= radio_button f, :campaign, "lantern", checked: true %><span>People of the Lantern</span><br />
  <%= radio_button f, :campaign, "bloom" %><span>People of the Bloom</span><br />
  <%= radio_button f, :campaign, "stars" %><span>People of the Stars</span><br />
  <%= radio_button f, :campaign, "sun" %><span>People of the Sun</span>
  <br />
  <br />
  <%= checkbox f, :white_lion, checked: true %><span>White Lion</span><br />
  <%= checkbox f, :screaming_antelope, checked: true %><span>Screaming Antelope</span><br />
  <%= checkbox f, :phoenix, checked: true %><span>Phoenix</span><br />
  <%= checkbox f, :butcher, checked: true %><span>The Butcher</span><br />
  <%= checkbox f, :kings_man, checked: true %><span>King's Man</span><br />
  <%= checkbox f, :hand, checked: true %><span>The Hand</span><br />
  <%= checkbox f, :watcher, checked: true %><span>The Watcher</span><br />
  <%= checkbox f, :dung_beetle_knight, checked: false %><span>Dung Beetle Knight</span><br />
  <%= checkbox f, :flower_knight, checked: false %><span>Flower Knight</span><br />
  <%= checkbox f, :lion_knight, checked: false %><span>Lion Knight</span><br />
  <%= checkbox f, :dragon_king, checked: false %><span>Dragon King</span><br />
  <%= checkbox f, :gorm, checked: false %><span>Gorm</span><br />
  <%= checkbox f, :lion_god, checked: false %><span>Lion God</span><br />
  <%= checkbox f, :lonely_tree, checked: false %><span>Lonely Tree</span><br />
  <%= checkbox f, :manhunter, checked: false %><span>Manhunter</span><br />
  <%= checkbox f, :slenderman, checked: false %><span>Slenderman (removes King's Man)</span><br />
  <%= checkbox f, :spidicules, checked: false %><span>Spidicules</span><br />
  <%= checkbox f, :sunstalker, checked: false %><span>Sunstalker</span><br />
  <%= checkbox f, :gold_smoke_knight, checked: false %><span>Gold Smoke Knight (KDM 1.5 only)</span><br />
<% end%>
